@keyframes fade-up-header {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mask_image {
  position: fixed;
  mask-image: radial-gradient(circle, transparent, black);
  --webkit-mask-image: radial-gradient(circle, transparent, black);
}
